﻿@{
    ViewData["Title"] = "Purchase Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
     var num = DateTime.Now.Ticks;
}

<!-- Start Page content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div>
                    <h4 class="page-title-dashboard">List PO</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item">PO</li>
                        <li class="breadcrumb-item active">List PO</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-12">
                <div class="card-box shadow-sm">
                    <table id="grid" class="table table-hover table-bordered" width="100%"></table>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div> <!-- container -->
</div> <!-- content -->


@section Scripts {
    <script src="~/webportal/procurement/purchase-order.js?@num" type="text/javascript"></script>
}