﻿@using Microsoft.AspNetCore.Http;
@using EmployeePortal.Areas.Procurement.Models.PurchaseOrder;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model PurchaseOrderHeaderModel
@{
   
    List<PurchaseOrderItemModel> POItem = ViewData["List_Item"] != null ? (List<PurchaseOrderItemModel>)ViewData["List_Item"] : new List<PurchaseOrderItemModel>();

    int rowId = 1;
}

@{
    ViewData["Title"] = "PurchaseRequisitionStatusDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var num = DateTime.Now.Ticks;
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div>
                    <h4 class="page-title-dashboard">@Model.PONumber</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item">PO</li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Status", "PurchaseOrder")">Status</a></li>
                        <li class="breadcrumb-item active">@ViewData["poNumber"]</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- end row -->

        @*<input asp-for="CompanyCode" type="hidden">
        <input asp-for="CompanyLocationCode" type="hidden">*@

        <div class="row">
            <div class="col-12">
                <div class="card-box shadow-sm">
                    <div class="form-group row">
                        <div class="col-12 col-sm-12 col-md-12 col-xl-12 pl-4 pr-4">
                            <div class="text-center col-12 mb-4">
                                <div class="h2-responsive">Purchase Order</div>
                            </div>
                            <div class="row mb-3">
                                <div class="row col-md-4 ml-2">
                                    <div class="font-weight-bold">
                                        FAP Group<br />
                                        @Model.CompanyName
                                    </div>
                                </div>
                                <div class="row col-md-4"></div>
                                <div class="row col-md-4">
                                    <label class="col-md-4 col-6">Departement</label>
                                    <div class="col-md-8 col-6">: @Model.DepartementName</div>
                                    <label class="col-md-4 col-6">Number</label>
                                    <div class="col-md-8 col-6">: @Model.PONumber</div>
                                    <label class="col-md-4 col-6">Date</label>
                                    <div class="col-md-8 col-6">: @Model.CreatedDate.ToString("dd-MM-yyyy")</div>
                                </div>
                            </div>

                            <h4 class="mt-3">Item/Service</h4>
                            <table id="table-detail-pr" class="table table-hover table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Item/Service Name</th>
                                        <th>Specification</th>
                                        <th>Purpose Description</th>
                                        <th>Quantity</th>
                                        <th>Currency</th>
                                        <th>Unit Price</th>
                                        <th>Total Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (PurchaseOrderItemModel item in POItem)
                                    {
                                        <tr>
                                            <td scope="row">@rowId</td>
                                            <td id="ItemName">
                                                @item.ItemName
                                            </td>
                                            <td id="Specification">
                                                <span>@item.Specification </span>
                                            </td>
                                            <td id="PurposeDesc">
                                                <span>@item.PurposeDesc </span>
                                            </td>
                                            <td id="col-qty" data-column="@item.Qty" align="right">
                                                @item.Qty
                                            </td>
                                            <td id="Currency">
                                                @item.Currency
                                            </td>
                                            <td id="UnitPrice" align="right">
                                                @item.UnitPriceString
                                            </td>
                                            <td id="col-totalPrice" data-column="@item.TotalPrice" align="right">
                                                @item.TotalPriceString
                                            </td>
                                        </tr>
                                        rowId++;
                                    }
                                </tbody>
                                <tfoot style="text-align:right; font-weight:bold">
                                    <tr>
                                        <th id="total" colspan="7">Total :</th>
                                        <td>@Model.StringGrandTotal</td>
                                    </tr>
                                    <tr>
                                        <th id="total" colspan="7">PPN <span>@Model.Ppn</span>% :</th>
                                        <td>@Model.stringPpn</td>
                                    </tr>
                                    <tr>
                                        <th id="total" colspan="7">Total After Tax :</th>
                                        <td>@Model.StringGrandTotalAfterTax</td>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="card-box shadow-sm" id="pr_wrap_budget" hidden>

                </div>
            </div>
        </div>

        <div class="hidden-print form-group account-btn text-center mt-3 mb-0">
            <div class="col-12">
                <div class="button-list">
                    <button class="btn w-lg btn-outline-custom waves-effect waves-light" aria-hidden="true" onclick=" window.open('/PurchaseOrder/PurchaseOrder','_self')"><i class="fa fa-reply mr-2"></i> Back</button>
                    <a href="javascript:window.print()" class="btn btn-custom waves-effect waves-light"><i class="fa fa-print mr-2"></i> Print</a>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div> <!-- container -->
</div> <!-- content -->

@section Scripts {
    <script src="~/webportal/procurement/purchase-order-detail.js" type="text/javascript"></script>
}