﻿@using Microsoft.AspNetCore.Http;

@{ 
    var num = DateTime.Now.Ticks;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebPortal</title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/favicon.ico">
    <link href="~/lib/mdb/css/mdb.min.css" rel="stylesheet" />
    <!-- Bootstrap fileupload css -->
    <link href="~/lib/fap-van/plugins/bootstrap-fileupload/bootstrap-fileupload.css" rel="stylesheet" />
    <!-- Picker css -->
    <link href="~/lib/fap-van/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="~/lib/fap-van/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="~/lib/fap-van/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="~/lib/fap-van/plugins/clockpicker/css/bootstrap-clockpicker.min.css" rel="stylesheet">
    <link href="~/lib/fap-van/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <!-- Plugins css-->
    <link href="~/lib/fap-van/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/lib/fap-van/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/lib/fap-van/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/fap-van/plugins/switchery/switchery.min.css" rel="stylesheet" />
    <!-- App css -->
    <link href="~/lib/fap-van/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/fap-van/assets/css/metismenu.min.css" rel="stylesheet" type="text/css" />
    <!-- Plugins css-->
    <link href="~/lib/fap-van/plugins/stepper/stepper.css" rel="stylesheet" type="text/css" />
    <!-- Summernote css -->
    <link href="~/lib/fap-van/plugins/summernote/summernote-bs4.css" rel="stylesheet" />
    <!-- Toastr -->
    <link href="~/lib/fap-van/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <!--Footable-->
    <link href="~/lib/fap-van/plugins/footable/css/footable.core.css" rel="stylesheet">
    <!-- Sweetalert 2 -->
    <link href="~/lib/fap-van/plugins/sweet-alert/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <!-- DataTables -->
    <link href="~/lib/fap-van/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/fap-van/assets/css/style.css" rel="stylesheet" type="text/css" />
    <!-- Custom css -->
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />

    <style type="text/css" media="print">

        @@page :left {
            margin-left: 0cm;
            margin-right: 0cm;
        }

        @@page :right {
            margin-left: 0cm;
            margin-right: 0cm;
        }

        @@page {
            size: landscape
        }

        html {
            zoom: 60%;
        }

    </style>
</head>
<body>
    <!-- Begin page -->
    <div id="wrapper">

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->

        <div class="content landscape">
            @RenderBody()
        </div>


        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->


    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>

    <!-- App Js -->
    <script src="~/lib/fap-van/assets/js/metisMenu.min.js"></script>
    @*<script src="~/lib/fap-van/assets/js/waves.js"></script>*@
    <script src="~/lib/fap-van/assets/js/jquery.slimscroll.js"></script>
    <script src="~/lib/fap-van/assets/js/jquery.app.js"></script>
    @*<script src="~/lib/fap-van/assets/js/jquery.core.js"></script>*@
    <!-- MDB -->
    <!-- Bootstrap tooltips -->
    <script src="~/lib/mdb/js/popper.min.js" type="text/javascript"></script>
    <!-- MDB core JavaScript -->
    <script src="~/lib/mdb/js/mdb.js" type="text/javascript"></script>
    <script src="~/webportal/webportal.bundle.js?@num" type="text/javascript"></script>
    <script src="~/lib/fap-van/plugins/toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/lib/fap-van/plugins/select2/js/select2.min.js" type="text/javascript"></script>
    <script src="~/lib/fap-van/plugins/bootstrap-select/js/bootstrap-select.js" type="text/javascript"></script>
    <script src="~/lib/fap-van/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js" type="text/javascript"></script>
    <script src="~/lib/fap-van/plugins/bootstrap-maxlength/bootstrap-maxlength.js" type="text/javascript"></script>
    <!-- DataTables -->
    <script src="~/lib/fap-van/plugins/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/lib/fap-van/plugins/datatables/dataTables.bootstrap4.min.js" type="text/javascript"></script>
    <!-- Sweetalert 2 -->
    <script src="~/lib/fap-van/plugins/sweet-alert/sweetalert2.all.min.js" type="text/javascript"></script>
    <script src="~/lib/fap-van/assets/pages/jquery.form-advanced.init.js" type="text/javascript"></script>
    <!-- Auto Complete -->
    <script src="~/lib/fap-van/plugins/autocomplete/jquery.autocomplete.min.js" type="text/javascript"></script>
    <!-- Pagination -->
    <script src="~/js/jquery.twbsPagination.min.js" type="text/javascript"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
