@{
    var area = ViewContext.RouteData.Values["Area"];
    var controller = ViewContext.RouteData.Values["Controller"];
    var action = ViewContext.RouteData.Values["Action"];
}

    <ul class="metismenu" id="side-menu">
        <li>
            <a href="@Url.Action("Index", "Dashboard", new { area = "Dashboard" })" id="link-dashboard">
                <i class="fa fa-home"></i><span>Dashboard</span>
            </a>
        </li>
        <li class="menu-title">Purchasing</li>
        <li>
            <a href="javascript: void(0);"><i class="fa fa-shopping-cart"></i><span> PR </span> <span class="menu-arrow"></span></a>
            <ul class="nav-second-level" aria-expanded="false">
                <li><a href="@Url.Action("Index", "PurchaseRequisition", new { area = "Procurement" })">Create </a></li>
                <li><a href="@Url.Action("Status", "PurchaseRequisition", new { area = "Procurement" })">Status </a></li>
                <li>
                    <a href="javascript: void(0);"><span>Request Vendor</span> <span class="menu-arrow"></span></a>
                    <ul class="nav-third-level" aria-expanded="false">
                        <li><a href="@Url.Action("RFQ", "PurchaseRequisition", new { area = "Procurement" })">RFQ</a></li>
                        <li><a href="@Url.Action("QCF", "PurchaseRequisition", new { area = "Procurement" })">QCF</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript: void(0);"><i class="fas fa-clipboard-list"></i><span> PO </span> <span class="menu-arrow"></span></a>
            <ul class="nav-second-level" aria-expanded="false">
                <li><a href="@Url.Action("PurchaseOrder", "PurchaseOrder", new { area = "Procurement" })">List PO</a></li>
            </ul>
        </li>
        <li>
            <a href="@Url.Action("Pending", "Approval", new { area = "Workflow" })" id="link-employee-approval">
                <i class="fa fa-check-square-o"></i><span>Approval</span>
            </a>
        </li>
        <li class="menu-title">Vendor</li>
        <li>
            <a href="javascript: void(0);"><i class="fa fa-id-card-o"></i><span> Vendor </span> <span class="menu-arrow"></span></a>
            <ul class="nav-second-level" aria-expanded="false">
                <li><a href="@Url.Action("Index", "Vendor", new { area = "Vendor" })" id="link-vendor-dashboard">Verify</a></li>
            </ul>
        </li>
    </ul>
<script>
    (function () {
        if ('@controller'.toLowerCase() == 'dashboard') {
            document.getElementById('link-dashboard').classList.add('active');
        } else if ('@controller'.toLowerCase() == 'vendor') {
            document.getElementById('link-vendor-dashboard').classList.add('active');
        } else if ('@controller'.toLowerCase() == 'personaldata') {
            document.getElementById('link-employee-personaldata').classList.add('active');
        } else if ('@controller'.toLowerCase() == 'leavepermission') {
            document.getElementById('link-employee-attendance').classList.add('active');
            document.getElementById('link-employee-attendance').children[0].classList.add('active');
            document.getElementById('link-employee-attendance-leave').classList.add('active');
        } else if ('@controller'.toLowerCase() == 'approval') {
            document.getElementById('link-employee-approval').classList.add('active');
        }
    })();
</script>