﻿@{
    var budget = ViewData["Budget"] as EmployeePortal.Areas.Procurement.Models.Budget.BudgetModel;
}

<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-xl-12 pl-4 pr-4">

        @if (budget != null)
        {
            @if (@Model.BudgetStatus == "ON BUDGET")
            {
                <div class="row">
                    <div class="col-6">
                        <h4>Budget </h4>
                    </div>
                    <div class="col-6">
                        <div class="float-right"><span class="badge badge-custom">@Model.BudgetStatus</span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="card-box border">
                            <div class="row">
                                <div class="col-8">
                                    <label>Total Quantity</label>
                                </div>
                                <div class="col-4 text-right">
                                    <label class="font-weight-normal">@string.Format("{0:N2}", Model.QtyBudget)</label>
                                </div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-8">
                                    <label>Total Realization Quantity</label>
                                </div>
                                <div class="col-4 text-right ">
                                    <label class="font-weight-normal">@string.Format("{0:N2}", Model.QtyRealization)</label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-8">
                                    <label class="font-weight-bold">Remaining Quantity</label>
                                </div>
                                <div class="col-4 text-right">
                                    <label class="font-weight-bold">@string.Format("{0:N2}", Model.QtyRemaining)</label>
                                </div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-8">
                                    <label>Requested Quantity</label>
                                </div>
                                <div class="col-4 text-right">
                                    <label class="font-weight-normal">@string.Format("{0:N2}", Model.QtyRequest)</label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-8">
                                    <label class="font-weight-bold">Total Remaining Quantity</label>
                                </div>
                                <div class="col-4 text-right">
                                    <label class="font-weight-bold">@string.Format("{0:N2}", Model.QtyRemainingTotal)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card-box border">
                            <div class="row">
                                <div class="col-8">
                                    <label>Total Price</label>
                                </div>
                                <div class="col-4 text-right">
                                    <label class="font-weight-normal">@string.Format("{0:N2}", Model.TotalBudget)</label>
                                </div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-8">
                                    <label>Total Realization Price</label>
                                </div>
                                <div class="col-4 text-right ">
                                    <label class="font-weight-normal">@string.Format("{0:N2}", Model.TotalBudgetRealization)</label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-8">
                                    <label class="font-weight-bold">Remaining Price</label>
                                </div>
                                <div class="col-4 text-right">
                                    <label class="font-weight-bold">@string.Format("{0:N2}", Model.BudgetRemaining)</label>
                                </div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-8">
                                    <label>Requested Price</label>
                                </div>
                                <div class="col-4 text-right">
                                    <label class="font-weight-normal">@string.Format("{0:N2}", Model.BudgetRequest)</label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-8">
                                    <label class="font-weight-bold">Total Remaining Price</label>
                                </div>
                                <div class="col-4 text-right">
                                    <label class="font-weight-bold">@string.Format("{0:N2}", Model.BudgetRemainingTotal)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-6">
                        <h4>Budget </h4>
                    </div>
                    <div class="col-6">
                        <div class="float-right"><span class="badge badge-custom">@Model.BudgetStatus</span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="card-box border bg-custom">
                            <div class="row">
                                <div class="col-8">
                                    <label class="text-white">Total Quantity</label>
                                </div>
                                <div class="col-4 text-right">
                                    <label class="font-weight-normal text-white">@string.Format("{0:N2}", Model.QtyBudget)</label>
                                </div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-8">
                                    <label class="text-white">Total Realization Quantity</label>
                                </div>
                                <div class="col-4 text-right ">
                                    <label class="font-weight-normal text-white">@string.Format("{0:N2}", Model.QtyRealization)</label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-8">
                                    <label class="font-weight-bold text-white">Remaining Quantity</label>
                                </div>
                                <div class="col-4 text-right">
                                    <label class="font-weight-bold text-white">@string.Format("{0:N2}", Model.QtyRemaining)</label>
                                </div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-8">
                                    <label class="text-white">Requested Quantity</label>
                                </div>
                                <div class="col-4 text-right">
                                    <label class="font-weight-normal text-white">@string.Format("{0:N2}", Model.QtyRequest)</label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-8">
                                    <label class="font-weight-bold text-white">Need Quantity</label>
                                </div>
                                <div class="col-4 text-right">
                                    <label class="font-weight-bold text-white">@string.Format("{0:N2}", Model.QtyRemainingTotal)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card-box border bg-custom">
                            <div class="row">
                                <div class="col-8">
                                    <label class="text-white">Total Budget</label>
                                </div>
                                <div class="col-4 text-right">
                                    <label class="font-weight-normal text-white">@string.Format("{0:N2}", Model.TotalBudget)</label>
                                </div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-8">
                                    <label class="text-white">Total Realization</label>
                                </div>
                                <div class="col-4 text-right ">
                                    <label class="font-weight-normal text-white">@string.Format("{0:N2}", Model.TotalBudgetRealization)</label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-8">
                                    <label class="font-weight-bold text-white">Remaining Budget</label>
                                </div>
                                <div class="col-4 text-right">
                                    <label class="font-weight-bold text-white">@string.Format("{0:N2}", Model.BudgetRemaining)</label>
                                </div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-8">
                                    <label class="text-white">Requested Budget</label>
                                </div>
                                <div class="col-4 text-right">
                                    <label class="font-weight-normal text-white">@string.Format("{0:N2}", Model.BudgetRequest)</label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-8">
                                    <label class="font-weight-bold text-white">Need Budget</label>
                                </div>
                                <div class="col-4 text-right">
                                    <label class="font-weight-bold text-white">@string.Format("{0:N2}", Model.BudgetRemainingTotal)‬</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="row">
                <div class="col-6">
                    <h4>Budget <span><label class="badge badge-custom"> This item has no budget</label></span></h4>
                </div>
                <div class="col-6">
                    <div class="float-right"><span class="badge badge-custom">PTA</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card-box border">
                        <div class="row">
                            <div class="col-8">
                                <label>Total Quantity</label>
                            </div>
                            <div class="col-4 text-right">
                                <label class="font-weight-normal">-</label>
                            </div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col-8">
                                <label>Total Realization Quantity</label>
                            </div>
                            <div class="col-4 text-right ">
                                <label class="font-weight-normal">-</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-8">
                                <label class="font-weight-bold">Remaining Quantity</label>
                            </div>
                            <div class="col-4 text-right">
                                <label class="font-weight-bold">-</label>
                            </div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col-8">
                                <label>Requested Quantity</label>
                            </div>
                            <div class="col-4 text-right">
                                <label class="font-weight-normal">-</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-8">
                                <label class="font-weight-bold">Remaining Quantity</label>
                            </div>
                            <div class="col-4 text-right">
                                <label class="font-weight-bold">-</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card-box border">
                        <div class="row">
                            <div class="col-8">
                                <label>Total Price</label>
                            </div>
                            <div class="col-4 text-right">
                                <label class="font-weight-normal">-</label>
                            </div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col-8">
                                <label>Total Realization Prize</label>
                            </div>
                            <div class="col-4 text-right ">
                                <label class="font-weight-normal">-</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-8">
                                <label class="font-weight-bold">Remaining Price</label>
                            </div>
                            <div class="col-4 text-right">
                                <label class="font-weight-bold">-</label>
                            </div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col-8">
                                <label>Requested Price</label>
                            </div>
                            <div class="col-4 text-right">
                                <label class="font-weight-normal">-</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-8">
                                <label class="font-weight-bold">Total Remaining Price</label>
                            </div>
                            <div class="col-4 text-right">
                                <label class="font-weight-bold">-</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>