﻿@using Microsoft.AspNetCore.Http;
@model EmployeePortal.Areas.Procurement.Models.PurchaseRequistion.CreatePurchaseRequisitionModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Purchase Requisition";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var num = DateTime.Now.Ticks;

    string requiredDate = Model.DateRequired.HasValue ? Model.DateRequired.Value.ToString("yyyy/MM/dd") : "";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div>
                    <h4 class="page-title-dashboard">Create PR</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item">PR</li>
                        <li class="breadcrumb-item active">Create PR</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                <div class="card-box shadow-sm">
                    <form role="form">
                        <div class="form-group row">
                            <div class="col-12 col-sm-12 col-md-12 col-xl-12 pl-4 pr-4">
                                <div class="row mb-3">
                                    <div class="row col-md-4">
                                        <div class="col-12 text-muted">Please select PT for PR</div>
                                        <div class="col-12 select-outline">
                                            <input asp-for="ConfigCompanyId" type="hidden" value="@ViewData["ConfigCompanyId"]">
                                            <input asp-for="CompanyCode" type="hidden" value="@ViewData["UserCompanyCode"]">
                                            <input asp-for="ConfigDivisionId" type="hidden" value="@ViewData["ConfigDivisionId"]">
                                            <input asp-for="DepartementCode" type="hidden" value="@ViewData["UserDivisionCode"]">

                                            <div class="select-outline">
                                                <select class="mdb-select md-form md-outline select-company" asp-for="CompanyLocationCode" asp-items="Model.CompanyLocationOptions" required></select>
                                                <label asp-for="CompanyLocationCode" id="lblCompanyLocationCode">Location <span class="text-danger">*</span></label>
                                            </div>

                                            <div class="md-form md-outline">
                                                <input type="text" name="RequestedFrom" id="RequestedFrom" class="form-control" placeholder="">
                                                <label id="lblRequestedFrom" for="Requester">Request For <span class="text-danger">*</span></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row col-md-3"></div>
                                    <div class="row col-md-5">
                                        <label class="col-md-4 col-6">Company</label>
                                        <div class="col-md-8 col-6">: @ViewData["UserCompany"]</div>
                                        <label class="col-md-4 col-6">Departement</label>
                                        <div class="col-md-8 col-6">: @ViewData["UserDivision"]</div>
                                        <label class="col-md-4 col-6">Date</label>
                                        <div class="col-md-8 col-6">:<span> @ViewData["CurrentTime"]</span></div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-custom btn-open_Add-ItemForm" type="button" data-toggle="modal" disabled><i class="fa fa-plus-circle pr-2"></i> <span>Add Item/Service</button>
                                </div>
                                <div class="col-lg-12 table-hover table-responsive">
                                    <table id="grid_create_pr_list" class="table table-striped table-bordered" width="100%">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="card-box shadow-sm" id="pr_wrap_budget" hidden>
                </div>

                <div class="form-group account-btn text-center mt-3 mb-0">
                    <div class="col-12">
                        <div class="button-list">
                            <button class="btn w-lg btn-outline-custom waves-effect waves-light" aria-hidden="true">Cancel</button>
                            <button class="btn w-lg btn-custom waves-effect waves-light" id="pr_btn-save" type="button"><span>Send</span> <i class="fa fa-send ml-2"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div> <!-- container -->
</div> <!-- content -->

<!-- Add PR modal content -->
<div id="addItemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">

            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

            <div class="modal-body">
                <h4 class="text-center m-b-10">
                    <span id="pr-mdl__Add_Item_Title">Add Item/Service</span>
                </h4>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box">
                            <form role="form" id="vendor-frm-add-item" novalidate>
                                <div class="row">
                                    <input asp-for="MasterItemId" type="hidden">
                                    <input asp-for="ItemCode" type="hidden">
                                    <div class="col-9 col-md-9">
                                        <div class="md-form md-outline md-form-custom">
                                            <input type="text" name="ItemName" id="ItemName" class="form-control">
                                            <label id="lblItemName" for="ItemName">Item/Service Name <span class="text-danger">*</span></label>
                                        </div>
                                    </div>

                                    <div class="col-3 col-md-3">
                                        <div class="md-form md-outline">
                                            @*<a class="font-weight-bold" src="~/images/cataloc.jpg"><i class="fab fa-internet-explorer" style="font-size: 38px;"></i></a>*@
                                            <a class="font-weight-bold" href="http://10.251.1.17:5005" target="_blank"><img src="~/images/cataloc.png" alt="user-img" class="img-fluid"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-12">
                                        <div class="md-form md-outline">
                                            <textarea name="Specification" id="Specification" class="md-textarea form-control" rows="3" placeholder=""></textarea>
                                            <label id="lblSpecification" for="Specification">Specification <span class="text-danger">*</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="md-form md-outline md-form-custom">
                                            <input type="number" name="Qty" min="0" id="Qty" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" placeholder="">
                                            <label id="lblQty" for="Qty">Quantity <span class="text-danger">*</span></label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="select-outline md-form-custom">
                                            <select class="mdb-select md-form md-outline select-uom" searchable="Search..." asp-for="UomId" asp-items="Model.UnitOfMeasureOptions" required></select>
                                            <label asp-for="UomId" id="lblUomId">UOM <span class="text-danger">*</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="select-outline md-form-custom">
                                            <select class="mdb-select md-form md-outline select-currency" asp-for="CurrencyId" asp-Items="Model.CurrencyOptions" required></select>
                                            <label asp-for="CurrencyId" id="lblCurrencyId">Currency <span class="text-danger"></span></label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="md-form md-outline md-form-custom">
                                            <input type="number" name="UnitPrice" min="0" id="UnitPrice" class="form-control" onkeydown="javascript: return event.keyCode == 69 ? false : true" placeholder="">
                                            <label id="lblUnitPrice" for="UnitPrice">Price</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-12">
                                        <div class="md-form md-outline md-form-custom">
                                            <textarea name="PurposeDesc" id="PurposeDesc" class="md-textarea form-control" rows="3" placeholder=""></textarea>
                                            <label id="lblPurposeDesc" for="PurposeDesc">Purpose Description <span class="text-danger">*</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-12">
                                        <div class="md-form md-outline">
                                            <input placeholder="Selected date" type="text" id="DateRequired" class="form-control datepicker" data-value="@requiredDate">
                                            <label asp-for="DateRequired" id="lblDateRequired">Date Required <span class="text-danger"></span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group account-btn text-center mt-3 mb-0">
                                    <div class="col-12">
                                        <div class="button-list">
                                            <button class="btn w-lg btn-outline-custom waves-effect waves-light" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                            <button class="btn w-lg btn-custom waves-effect waves-light" type="button" id="btn_Add_Item"><i class="fa fa-plus-circle pr-2"></i> <span>Add Item/Service</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Frame Modal Bottom -->
<div class="modal fade bottom" id="frameModalBottom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <!-- Add class .modal-frame and then add class .modal-bottom (or other classes from list above) to set a position to the modal -->
    <div class="modal-dialog modal-frame modal-bottom" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row d-flex justify-content-center align-items-center">

                    <p class="pt-3 pr-2">The item you are about to buy has undergone a stock change</p>

                    <button type="button" id="btncloseframeModal" class="btn w-lg btn-outline-custom waves-effect waves-light" data-dismiss="modal">I understand</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Frame Modal Bottom -->

@section Scripts {
    <script src="~/webportal/procurement/purchase-requisition.js?@num"></script>
}