﻿
@{
    ViewData["Title"] = "PTA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div>
                    <h4 class="page-title-dashboard">PTA</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item">PR</li>
                        <li class="breadcrumb-item active">PTA</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                <div class="card-box shadow-sm">
                    <form role="form">
                        <div class="form-group row">
                            <div class="col-12 col-sm-12 col-md-12 col-xl-12 pl-4 pr-4">

                                <h4 class="mt-3">PTA Request</h4>

                                <div class="row mb-3">
                                    <div class="row col-md-4 col-12">
                                        <div class="col-12 select-outline">
                                            <select class="mdb-select md-form md-outline" disabled>
                                                <option value="1" selected>PT Karangjuang Hijau Lestari</option>
                                                <option value="2">PT Borneo Bhakti Sejahtera</option>
                                                <option value="3">PT Marsam Citra Adiperkasa</option>
                                                <option value="4">PT Borneo Utara Lestari</option>
                                                <option value="5">PT Ketapang Hijau Lestari</option>
                                                <option value="6">PT Setia Agro Utama</option>
                                                <option value="7">PT Riau Agung Karya Abadi</option>
                                                <option value="8">PT Bhumi Singgaris Indah</option>
                                                <option value="9">PT Bulungan Hijau Perkasa</option>
                                                <option value="10">PT Tirta Madu Sawit Jaya</option>
                                            </select>
                                            <label class="title-form">PT <span class="text-danger">*</span></label>
                                        </div>
                                    </div>
                                    <div class="row col-md-4"></div>
                                    <div class="row col-md-4">
                                        <label class="col-md-4 col-6">Departement</label>
                                        <div class="col-md-8 col-6">: IT</div>
                                        <label class="col-md-4 col-6">Number</label>
                                        <div class="col-md-8 col-6">: 2019-JKT-IT-PTA-0019</div>
                                        <label class="col-md-4 col-6">Date</label>
                                        <div class="col-md-8 col-6">: 18-Agustus-2019</div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <div class="md-form">
                                            <input type="text" id="available_budget_inc" class="form-control" value="Rp 5.000.000" disabled>
                                            <label for="available_budget_inc">Available Budget</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="md-form">
                                            <input type="text" id="available_budget_inc" class="form-control" value="Rp 10.000.000" disabled>
                                            <label for="available_budget_inc">Budget Needed</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="md-form">
                                            <input type="text" id="available_budget_inc" class="form-control color-1" value="Rp 5.000.000" disabled>
                                            <label for="available_budget_inc">Total Budget Deficiency</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="md-form md-outline">
                                            <textarea id="form_purpose" class="md-textarea form-control" rows="3"></textarea>
                                            <label for="form_purpose">Purpose Procurement of Item/Service <span class="text-danger">*</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="md-form md-outline">
                                            <textarea id="form_reason" class="md-textarea form-control" rows="3"></textarea>
                                            <label for="form_reason">Reason for Deficiency Budget <span class="text-danger">*</span></label>
                                        </div>
                                    </div>
                                </div>

                                <h4 class="mt-3">Item/Service</h4>

                                <div class="col-lg-12 table-hover table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Item/Service Name</th>
                                                <th>Specification</th>
                                                <th>Quantity</th>
                                                <th>Price</th>
                                                <th>Purpose Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Pembelian Mouse</td>
                                                <td>Mouse Logitech B100</td>
                                                <td>10</td>
                                                <td>772.727</td>
                                                <td>Untuk Stock IT</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Pembelian Kabel HDMI</td>
                                                <td>Kabel HDMI to HDMI 10mtr</td>
                                                <td>1</td>
                                                <td>313.636</td>
                                                <td>Untuk penggantian kabel HDMI di ruang Meranti</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="row mt-5 row-eq-card">
                                    <div class="col-12 col-md-3 d-flex ">
                                        <div class="card-box border row-eq-full">
                                            <p class="text-muted font-13">Requested by</p>
                                            <p class="mb-0"><img src="~/lib/fap-van/assets/images/users/avatar-3.jpg" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary">Regina Tiara Wijaya</span></p>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-5 d-flex ">
                                        <div class="card-box border row-eq-full">
                                            <p class="text-muted font-13">Approved by</p>
                                            <div class="border-bottom">
                                                <p>
                                                    <img src="~/lib/fap-van/assets/images/users/avatar-2.jpg" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary">Hilman Lukito</span>
                                                </p>
                                            </div>
                                            <div class="border-bottom mt-3">
                                                <p>
                                                    <img src="~/lib/fap-van/assets/images/users/avatar-2.jpg" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary">Evelyn</span>
                                                </p>
                                            </div>
                                            <div class="mt-3">
                                                <p class="mb-0">
                                                    <img src="~/lib/fap-van/assets/images/users/avatar-2.jpg" alt="task-user" class="thumb-sm rounded-circle mr-2">          <span class="font-bold font-secondary">Ochen Tanudjaja </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="md-form md-outline mt-0">
                                            <textarea id="formalamat" class="md-textarea form-control" rows="4"></textarea>
                                            <label for="formalamat">Notes</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>

                    <div class="form-group account-btn text-center mt-3 mb-0">
                        <div class="col-12">
                            <div class="button-list">
                                <button class="btn w-lg btn-outline-custom waves-effect waves-light" aria-hidden="true">Cancel</button>
                                <button class="btn w-lg btn-custom waves-effect waves-light" type="submit" onclick=" window.open('/PurchaseRequisition/Status','_self')"><span>Send</span> <i class="fa fa-send ml-2"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div> <!-- container -->

</div> <!-- content -->
