﻿@using Microsoft.AspNetCore.Http;
@using EmployeePortal.Areas.Procurement.Models.PurchaseRequistion;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model PurchaseRequisitionListHeaderModel
@{

    List<PurchaseRequisitionVendorCategoryItemModel> vendorName = ViewData["Vendor_Name"] != null ? (List<PurchaseRequisitionVendorCategoryItemModel>)ViewData["Vendor_Name"] : new List<PurchaseRequisitionVendorCategoryItemModel>();

    List<PurchaseRequistionListItemModel> listItem = ViewData["List_Item"] != null ? (List<PurchaseRequistionListItemModel>)ViewData["List_Item"] : new List<PurchaseRequistionListItemModel>();

    var workflowHistoryApproval = ViewBag.WorkflowHistoryApproval as EmployeePortal.Areas.Workflow.Models.WorkflowHistoryApprovalModel;
    int approvalLevel = 1;
    int rowId = 1;

}

@{
    ViewData["Title"] = "PurchaseRequisitionStatusDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var num = DateTime.Now.Ticks;
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div>
                    <h4 class="page-title-dashboard">@ViewData["prNumber"]</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item">PR</li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Status", "PurchaseRequisition")">PR Status</a></li>
                        <li class="breadcrumb-item"><a href="")">PR Status Detail</a></li>
                        <li class="breadcrumb-item active">@ViewData["prNumber"]</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- end row -->

        <input asp-for="CompanyCode" type="hidden">
        <input asp-for="CompanyLocationCode" type="hidden">

        <div class="row">
            <div class="col-12">
                <div class="card-box shadow-sm">
                    <div class="form-group row">
                        <div class="col-12 col-sm-12 col-md-12 col-xl-12 pl-4 pr-4">
                            <div class="text-center col-12 mb-4">
                                <div class="h2-responsive">Purchase Requisition</div>
                            </div>
                            <div class="row mb-3">
                                <div class="row col-md-4 ml-2">
                                    <div class="font-weight-bold">
                                        FAP Group<br />
                                        @Model.CompanyName
                                    </div>
                                </div>
                                <div class="row col-md-4"></div>
                                <div class="row col-md-4">
                                    <label class="col-md-4 col-6">Departement</label>
                                    <div class="col-md-8 col-6">: @Model.DepartementName</div>
                                    <label class="col-md-4 col-6">Number</label>
                                    <div class="col-md-8 col-6">: @Model.PRNumber</div>
                                    <label class="col-md-4 col-6">Date</label>
                                    <div class="col-md-8 col-6">: @Model.CreatedDate.ToString("dd-MM-yyyy")</div>
                                </div>
                            </div>

                            <h4 class="mt-3">Item/Service</h4>
                            @foreach (PurchaseRequisitionVendorCategoryItemModel vendor in vendorName)
                            {
                                @if (vendor.VendorName == null)
                                {
                                    <p class="mb-2 mt-3"><span class="font-weight-bold font-secondary">- Request Vendor</span></p>
                                }
                                else
                                {
                                    <p class="mb-2 mt-3"><img src="~/images/avatar-2.jpg" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-weight-bold font-secondary">@vendor.VendorName</span></p>
                                }

                                <table id="table-detail-pr" class="table table-hover table-bordered" width="100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Item/Service Name</th>
                                            <th>Specification</th>
                                            <th>Purpose Description</th>
                                            <th>Quantity</th>
                                            <th>Unit Price</th>
                                            <th>Total Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (PurchaseRequistionListItemModel item in listItem)
                                        {
                                            @if (@vendor.VendorName == @item.VendorName)
                                            {
                                                <tr data-company-code="@Model.CompanyCode" data-location-code="@Model.CompanyLocationCode" data-bims-code="@item.BimsCode">
                                                    <td scope="row">@rowId</td>
                                                    <td id="ItemName">
                                                        @item.ItemName
                                                    </td>
                                                    <td id="Specification">
                                                        <span>@item.Specification </span>
                                                    </td>
                                                    <td id="PurposeDesc">
                                                        <span>@item.PurposeDesc </span>
                                                    </td>
                                                    <td id="col-qty" data-column="@item.Qty" align="right">
                                                        @item.Qty
                                                    </td>
                                                    <td id="UnitPrice" align="right">
                                                        @item.UnitPriceString
                                                    </td>
                                                    <td id="col-totalPrice" data-column="@item.TotalPrice" align="right">
                                                        @item.TotalPriceString
                                                    </td>
                                                </tr>
                                                rowId++;
                                            }
                                        }
                                    </tbody>
                                    <tfoot style="text-align:right; font-weight:bold">
                                        <tr>
                                            <th id="total" colspan="6">Total :</th>
                                            <td>@vendor.TotalPrice.ToString("#,##0.00")</td>
                                        </tr>
                                        <tr>
                                            <th id="total" colspan="6">PPN <span>@vendor.Ppn</span>% :</th>
                                            <td>@vendor.PpnPrice.ToString("#,##0.00")</td>
                                        </tr>
                                        <tr>
                                            <th id="total" colspan="6">Total After Tax :</th>
                                            <td>@vendor.TotalPriceAfterTax.ToString("#,##0.00")</td>
                                        </tr>
                                    </tfoot>
                                </table>

                                <div class="row"></div>
                            }

                            <div class="float-right">
                                <h4 class="">Grand Total : @Model.StringGrandTotal </h4>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card-box shadow-sm" id="pr_wrap_budget" hidden>

                </div>

                <div class="card-box shadow-sm" id="pr_wrap_approval">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-xl-12 pl-4 pr-4">

                            <h4>Approval</h4>

                            <div class="row row-eq-card">
                                <div class="col-12 col-md-6 d-flex ">
                                    <div class="card-box border row-eq-full">
                                        <p class="text-muted font-13">Requested by</p>
                                        <p class="mb-0">
                                            <img src="~/images/avatar-2.jpg" alt="task-user" class="thumb-sm rounded-circle mr-2">
                                            <span class="font-bold font-secondary">@workflowHistoryApproval.RequestorActionName</span>
                                            <span class="pull-right mt-2 dtl-budget-requestor-time text-muted">
                                                <i class="fas fa-clock"></i> @workflowHistoryApproval.CreatedDate.ToString("dddd, dd MMMM yyyy hh:mm tt")
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 d-flex ">
                                    <div class="card-box border row-eq-full">
                                        <p class="text-muted font-13">Approved by</p>
                                        <div>
                                            @foreach (var history in workflowHistoryApproval.UserApproval)
                                            {
                                                <p class="text-muted font-13">Approval @approvalLevel</p>
                                                <p>
                                                    <img src="~/images/avatar-2.jpg" alt="task-user" class="thumb-sm rounded-circle mr-2">
                                                    <span class="font-bold font-secondary">@history.UserActionName</span>
                                                    @if (history.Activity != null)
                                                    {
                                                        @if (history.Activity.Activity == FirstResource.System.Library.Extensions.EnumExtensions.GetDescription(FirstResource.System.Library.EnumMaster.ActivityStatus.WAITING_APPROVAL).Result)
                                                        {
                                                            <span class="badge badge-info pull-right mt-2">@history.Activity.Activity</span>
                                                        }
                                                        else if (history.Activity.Activity == FirstResource.System.Library.Extensions.EnumExtensions.GetDescription(FirstResource.System.Library.EnumMaster.ActivityStatus.APPROVED).Result)
                                                        {
                                                            <span class="badge badge-success pull-right mt-2">@history.Activity.Activity</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge badge-danger pull-right mt-2">@history.Activity.Activity</span>
                                                        }
                                                    }
                                                </p>
                                                @if (history.Activity != null)
                                                {
                                                    @if (!string.IsNullOrEmpty(history.Activity.Noted))
                                                    {
                                                        <p style="border-left:1px dotted #ccc;padding:0 22px;margin:10px 16px;font-size:13px;line-height:1.4">
                                                            <span style="font-weight:bold;display:block;padding-bottom:5px;font-size:14px;line-height:1;padding-left:9px">Commend</span>
                                                            <i style="padding-left:9px">"@history.Activity.Noted"</i>
                                                            @if (history.Activity.Activity == FirstResource.System.Library.Extensions.EnumExtensions.GetDescription(FirstResource.System.Library.EnumMaster.ActivityStatus.APPROVED).Result)
                                                            {
                                                                <span class="pull-right dtl-budget-approval-time text-muted">
                                                                    <i class="fas fa-clock"></i> @history.Activity.CreatedDate.ToString("dddd, dd MMMM yyyy hh:mm tt")
                                                                </span>
                                                            }
                                                            else if (history.Activity.Activity == FirstResource.System.Library.Extensions.EnumExtensions.GetDescription(FirstResource.System.Library.EnumMaster.ActivityStatus.REJECTED).Result)
                                                            {
                                                                <span class="pull-right dtl-budget-approval-time text-muted">
                                                                    <i class="fas fa-clock"></i> @history.Activity.CreatedDate.ToString("dddd, dd MMMM yyyy hh:mm tt")
                                                                </span>
                                                            }
                                                        </p>
                                                    }
                                                    else
                                                    {
                                                        <p style="border-left:1px dotted #ccc;padding:0 22px;margin:10px 16px;font-size:13px;line-height:1.4">
                                                            <span style="font-weight:bold;display:block;padding-bottom:5px;font-size:14px;line-height:1;padding-left:9px">Commend</span>
                                                            <i style="padding-left:9px">"No available."</i>
                                                            @if (history.Activity.Activity == FirstResource.System.Library.Extensions.EnumExtensions.GetDescription(FirstResource.System.Library.EnumMaster.ActivityStatus.APPROVED).Result)
                                                            {
                                                                <span class="pull-right dtl-budget-approval-time text-muted">
                                                                    <i class="fas fa-clock"></i> @history.Activity.CreatedDate.ToString("dddd, dd MMMM yyyy hh:mm tt")
                                                                </span>
                                                            }
                                                            else if (history.Activity.Activity == FirstResource.System.Library.Extensions.EnumExtensions.GetDescription(FirstResource.System.Library.EnumMaster.ActivityStatus.REJECTED).Result)
                                                            {
                                                                <span class="pull-right dtl-budget-approval-time text-muted">
                                                                    <i class="fas fa-clock"></i> @history.Activity.CreatedDate.ToString("dddd, dd MMMM yyyy hh:mm tt")
                                                                </span>
                                                            }
                                                        </p>
                                                    }
                                                }
                                                else
                                                {
                                                    <p style="border-left:1px dotted #ccc;padding:0 22px;margin:10px 16px;font-size:13px;line-height:1.4">
                                                        <span style="font-weight:bold;display:block;padding-bottom:5px;font-size:14px;line-height:1;padding-left:9px">Commend</span>
                                                        <i style="padding-left:9px">"No available."</i>
                                                    </p>
                                                }

                                                approvalLevel++;
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hidden-print form-group account-btn text-center mt-3 mb-0">
            <div class="col-12">
                <div class="button-list">
                    <button class="btn w-lg btn-outline-custom waves-effect waves-light" aria-hidden="true" onclick=" window.open('/PurchaseRequisition/Status','_self')"><i class="fa fa-reply mr-2"></i> Back</button>
                    <a href="javascript:window.print()" class="btn btn-custom waves-effect waves-light"><i class="fa fa-print mr-2"></i> Print</a>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div> <!-- container -->
</div> <!-- content -->

@section Scripts {
    <script src="~/webportal/procurement/purchase-requisition-statusdetail.js?@num" type="text/javascript"></script>
}