﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div>
                    <h4 class="page-title-dashboard">PR Request Vendor</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                        <li class="breadcrumb-item">PR</li>
                        <li class="breadcrumb-item">Request Vendor</li>
                        <li class="breadcrumb-item">QCF</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-box shadow-sm">
                    <div class="table-responsive">
                        <table id="grid" class="table table-hover table-bordered" width="100%">
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div> <!-- container -->
</div> <!-- content -->

@section Scripts {
    <script src="~/webportal/procurement/qcf.js" type="text/javascript"></script>
}
