﻿@model EmployeePortal.Areas.Procurement.Models.PurchaseRequistion.VendorDetailRFQModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{ 
    string rfqDate = Model.CreatedDate.HasValue ? Model.CreatedDate.Value.ToString("dd-MMMM-yyyy") : "";
}

<div class="text-center col-12 mb-4">
    <div class="h2-responsive">Request for Quotation</div>
</div>

<div class="row mt-5">
    <div class="col-4">
        <h5>FROM</h5>
        <address class="line-h-24">
            @Model.VendorName<br />
            @Model.VendorAddress<br />
            Phone: @Model.VendorPhone
        </address>
    </div>

    <div class="col-4">
        <h5>TO</h5>
        <address class="line-h-24">
            @Model.CompanyName<br />
            @Model.CompanyAddress<br />
        </address>
    </div>

    <div class="col-4">
        <div class="mt-3 float-right">
            <p class="mb-1"><strong>Date: </strong> @rfqDate</p>
            <p class="mb-1"><strong>Subject: </strong> Quotation</p>
            <p class="mb-1"><strong>RFQ Number: </strong> @Model.Rfqnumber</p>
        </div>
    </div>

</div>

<p class="mt-3">Regards,</p>
<p>We from <strong>@Model.VendorName</strong>, submit a price quote with the following specifications :</p>

<div class="col-lg-12 table-hover table-responsive">
    <table class="table mb-0">
        <thead>
            <tr>
                <th>#</th>
                <th>Item Code</th>
                <th>Item / Service Name</th>
                <th>EAN Number</th>
                <th class="w-50">Description</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>@Model.ItemCode</td>
                <td>@Model.ItemName</td>
                <td></td>
                <td>@Model.Specification</td>
                <td>@Model.Qty</td>
                <td>@Model.UnitPrice</td>
                <td>@Model.TotalPrice</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row pt-3">
    <div class="col-12 col-md-12">
        <h5>Terms Quotation</h5>
        <div class="row">
            <label class="col-md-4 col-6">Terms of Payment</label>
            <div class="col-md-8 col-6">: @Model.VendorTOP days</div>
            <label class="col-md-4 col-6">Time of Submission</label>
            <div class="col-md-8 col-6">: @Model.DeliveryTime DAYS AFTER INVOICE VALIDATION</div>
            <label class="col-md-4 col-6">Terms of Submission</label>
            <div class="col-md-8 col-6">: FRANKO WAREHOUSE BUYER</div>
            <label class="col-md-4 col-6">PPN</label>
            <div class="col-md-8 col-6">: @Model.VendorPpn<span>%</span></div>
        </div>

        <div class="clearfix pt-5">
            <div class="col-12 col-md-12">
                <div class="md-form md-outline mt-0">
                    <textarea asp-for="Notes" class="md-textarea form-control" rows="4" disabled></textarea>
                    <label for="lbl_notes" class="active">Notes</label>
                </div>
            </div>
        </div>

    </div>
</div>