﻿@model List<EmployeePortal.Areas.Procurement.Models.PurchaseRequistion.RequestForQuotationModel>

@{
    var num = DateTime.Now.Ticks;
    int count = 1;
}

@foreach (var res in Model)
{
    <a href="#" data-toggle="modal">
        <tr data-rfq-id="@res.rfqId">
            <td scope="row">@count</td>
            <td>@res.vendorName</td>
            <td>@res.ItemName</td>
            <td>@res.Qty</td>
            <td>@res.TotalPrice</td>
            <td><a class="font-weight-bold text-custom" id="btn-view-detail-vendor" href="#" data-toggle="modal" data-target="#myModal">View</a></td>
        </tr>
    </a>
    count++;
}


<script src="~/webportal/procurement/qcf-vendor-detail.js?@num" type="text/javascript"></script>