﻿@using Microsoft.AspNetCore.Http;
@model EmployeePortal.Areas.Procurement.Models.PurchaseRequistion.QuotationComparationFormModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Purchase Requisition";
    Layout = "~/Views/Shared/_LayoutAdditional.cshtml";
    var num = DateTime.Now.Ticks;

    string qcfdate = Model.QCFDate.HasValue ? Model.QCFDate.Value.ToString("dd-MMMM-yyyy hh:mm tt") : "";
    string prdate = Model.PRDate.HasValue ? Model.PRDate.Value.ToString("dd-MMMM-yyyy hh:mm tt") : "";
}

<div class="content">
    <div class="container-fluid">

        <input asp-for="Prid" type="hidden">
        <input asp-for="MasterDataVendorId" type="hidden">
        
        <div class="row">
            <div class="col-12">
                <div class="mb-2">
                    <h4 class="page-title-dashboard">@Model.Prnumber</h4>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                <div class="card-box shadow-sm">
                    <form role="form">
                        <div class="form-group row">
                            <div class="col-12 col-sm-12 col-md-12 col-xl-12 pl-4 pr-4">

                                <div class="row mb-3">
                                    <div class="row col-md-4">
                                        <label class="col-md-4 col-6">Company</label>
                                        <div class="col-md-8 col-6">: @Model.CompanyName</div>
                                        <label class="col-md-4 col-6">Item / Service Name</label>
                                        <div class="col-md-8 col-6">: @Model.ItemName</div>
                                        <label class="col-md-4 col-6">QCF Date</label>
                                        <div class="col-md-8 col-6">: @qcfdate</div>
                                    </div>
                                    <div class="row col-md-4"></div>
                                    <div class="row col-md-4">
                                        <label class="col-md-4 col-6">QCF Number</label>
                                        <div class="col-md-8 col-6">: @Model.Qcfnumber</div>
                                        <label class="col-md-4 col-6">PR Number</label>
                                        <div class="col-md-8 col-6">: @Model.Prnumber</div>
                                        <label class="col-md-4 col-6">PR Date</label>
                                        <div class="col-md-8 col-6">: @prdate</div>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col" rowspan="3" class="align-middle text-center">No</th>
                                                <th scope="col" rowspan="3" class="align-middle text-center">Description</th>
                                                <th scope="col" colspan="2" rowspan="2" class="align-middle text-center">Order Quantity</th>
                                                <th scope="col" colspan="6" class="text-center">Suplier Name / Contractor</th>
                                            </tr>
                                            <tr>
                                                <th scope="col" colspan="2">
                                                    <span class="font-normal">Company :</span> @Model.VendorName1<br />
                                                    <span class="font-normal">Contact :</span> @Model.Pic1<br />
                                                    <span class="font-normal">Phone :</span> @Model.Picphone1
                                                </th>
                                                <th scope="col" colspan="2">
                                                    <span class="font-normal">Company :</span> @Model.VendorName2<br />
                                                    <span class="font-normal">Contact :</span> @Model.Pic2<br />
                                                    <span class="font-normal">Phone :</span> @Model.Picphone2
                                                </th>
                                                <th scope="col" colspan="2">
                                                    <span class="font-normal">Company :</span> @Model.VendorName3<br />
                                                    <span class="font-normal">Contact :</span> @Model.Pic3<br />
                                                    <span class="font-normal">Phone :</span> @Model.Picphone3
                                                </th>
                                            </tr>
                                            <tr class="text-center">
                                                <th scope="col">Amount</th>
                                                <th scope="col">Unit</th>
                                                <th scope="col">Unit Price</th>
                                                <th scope="col">Total Price</th>
                                                <th scope="col">Unit Price</th>
                                                <th scope="col">Total Price</th>
                                                <th scope="col">Unit Price</th>
                                                <th scope="col">Total Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>@Model.ItemName</td>
                                                <td class="text-center">10</td>
                                                <td class="text-center">Unit</td>
                                                <td class="text-right"><span class="float-left">RP</span> @Model.UnitPrice1</td>
                                                <td class="text-right"><span class="float-left">RP</span> @Model.TotalPrice1</td>
                                                <td class="text-right"><span class="float-left">RP</span> @Model.UnitPrice2</td>
                                                <td class="text-right"><span class="float-left">RP</span> @Model.TotalPrice2</td>
                                                <td class="text-right"><span class="float-left">RP</span> @Model.UnitPrice3</td>
                                                <td class="text-right"><span class="float-left">RP</span> @Model.TotalPrice3</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" colspan="10">&nbsp;</th>
                                            </tr>
                                            <tr>
                                                <th scope="row" colspan="4">Total Price</th>
                                                <td></td>
                                                <td class="font-weight-bold text-right"><span class="float-left">RP</span> @Model.TotalPrice1</td>
                                                <td></td>
                                                <td class="font-weight-bold text-right"><span class="float-left">RP</span> @Model.TotalPrice2</td>
                                                <td></td>
                                                <td class="font-weight-bold text-right"><span class="float-left">RP</span> @Model.TotalPrice3</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" colspan="4">VAT</th>
                                                <td class="text-right"><span>@Model.Ppn1</span>%</td>
                                                <td class="text-right"><span class="float-left">RP</span> @Model.PPNPrice1</td>
                                                <td class="text-right"><span>@Model.Ppn2</span>%</td>
                                                <td class="text-right"><span class="float-left">RP</span> @Model.PPNPrice2</td>
                                                <td class="text-right"><span>@Model.Ppn3</span>%</td>
                                                <td class="text-right"><span class="float-left">RP</span> @Model.PPNPrice3</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" colspan="4">Total after VAT</th>
                                                <td></td>
                                                <td class="font-weight-bold text-right"><span class="float-left">RP</span> @Model.GrandTotalAfterTax1</td>
                                                <td></td>
                                                <td class="font-weight-bold text-right"><span class="float-left">RP</span> @Model.GrandTotalAfterTax2</td>
                                                <td></td>
                                                <td class="font-weight-bold text-right"><span class="float-left">RP</span> @Model.GrandTotalAfterTax3</td>
                                            </tr>
                                            @*<tr>
                                                <th scope="row" colspan="4">Budget Efficiency / Negotiation (Budget 3.000.000)</th>
                                                <td></td>
                                                <td class="font-weight-bold text-right"><span class="float-left">RP</span> 223.600‬</td>
                                                <td></td>
                                                <td class="font-weight-bold text-right"><span class="float-left">RP</span> 146.600‬‬</td>
                                                <td></td>
                                                <td class="font-weight-bold text-right"><span class="float-left">RP</span> 113.600‬</td>
                                            </tr>*@
                                            <tr>
                                                <th scope="row" colspan="4">Payment Method</th>
                                                <td colspan="2" class="text-center">30 Days</td>
                                                <td colspan="2" class="text-center">30 Days</td>
                                                <td colspan="2" class="text-center">COD</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" colspan="4">Shipping Type</th>
                                                <td colspan="2" class="text-center">FRANKO WAREHOUSE BUYER</td>
                                                <td colspan="2" class="text-center">FRANKO WAREHOUSE BUYER</td>
                                                <td colspan="2" class="text-center">FRANKO WAREHOUSE BUYER</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" colspan="4">Delivery Time</th>
                                                <td colspan="2" class="text-center">@Model.DeliveryTime1</td>
                                                <td colspan="2" class="text-center">@Model.DeliveryTime2</td>
                                                <td colspan="2" class="text-center">@Model.DeliveryTime3</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" colspan="4">Choose a Winner?</th>
                                                <td colspan="2" class="text-center">
                                                    <div class="form-check form-check-inline">
                                                        <input type="radio" class="form-check-input" id="MasterDataVendorId1" name="inlineMaterialRadiosExample" value="@Model.MasterDataVendorId1">
                                                        <label class="form-check-label font-weight-bold" id="winner_company_1" for="MasterDataVendorId1">@Model.VendorName1</label>
                                                    </div>
                                                </td>
                                                <td colspan="2" class="text-center">
                                                    <div class="form-check form-check-inline">
                                                        <input type="radio" class="form-check-input" id="MasterDataVendorId2" name="inlineMaterialRadiosExample" value="@Model.MasterDataVendorId2">
                                                        <label class="form-check-label font-weight-bold" id="winner_company_2" for="MasterDataVendorId2">@Model.VendorName2</label>
                                                    </div>
                                                </td>
                                                <td colspan="2" class="text-center">
                                                    <div class="form-check form-check-inline">
                                                        <input type="radio" class="form-check-input" id="MasterDataVendorId3" name="inlineMaterialRadiosExample" value="@Model.MasterDataVendorId3">
                                                        <label class="form-check-label font-weight-bold" id="winner_company_3" for="MasterDataVendorId3">@Model.VendorName3</label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-12 col-md-12 mt-5">
                                    <div class="md-form md-outline mt-0">
                                        <textarea asp-for="Notes" class="md-textarea form-control" rows="4" placeholder=""></textarea>
                                        <label id="lbl_Notes " asp-for="Notes">Notes</label>
                                    </div>
                                </div>

                                <div class="hidden-print form-group account-btn text-center mt-3 mb-0">
                                    <div class="col-12">
                                        <div class="button-list">
                                            <a href="javascript:window.print()" class="btn btn-custom waves-effect waves-light"><i class="fa fa-print mr-2"></i> Print</a>
                                            <button class="btn w-lg btn-custom waves-effect waves-light" id="btn-send-po" type="button"><i class="fa fa-send mr-2"></i><span>Send PO</span></button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div> <!-- container -->



</div> <!-- content -->

@section Scripts {
    <script src="~/webportal/procurement/qcf-preview.js?@num"></script>
}
