﻿@using Microsoft.AspNetCore.Http;
@using EmployeePortal.Areas.Procurement.Models.PurchaseRequistion;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model PurchaseRequisitionRequestVendorModel
@{
    var workflowHistoryApproval = ViewBag.WorkflowHistoryApproval as EmployeePortal.Areas.Workflow.Models.WorkflowHistoryApprovalModel;
    int approvalLevel = 1;
}

@{
    ViewData["Title"] = "PurchaseRequisitionStatusDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var num = DateTime.Now.Ticks;
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div>
                    <h4 class="page-title-dashboard">@Model.PRNumber</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item">PR</li>
                        <li class="breadcrumb-item"><a>Request Vendor</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("RFQ", "PurchaseRequisition")">RFQ</a></li>
                        <li class="breadcrumb-item"><a href="">RFQ Detail</a></li>
                        <li class="breadcrumb-item active">@Model.PRNumber</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- end row -->

        <input asp-for="Prid" type="hidden">
        <input asp-for="CompanyCode" type="hidden">
        <input asp-for="DepartementCode" type="hidden">
        <input asp-for="CompanyLocationCode" type="hidden">
        <input asp-for="MasterItemCategoryId" type="hidden">
        <input asp-for="MasterItemId" type="hidden">
        <input asp-for="Qty" type="hidden">
        <input asp-for="ItemVendorStatus" type="hidden">

        <div class="row">
            <div class="col-12">
                <div class="card-box shadow-sm">
                    <div class="form-group row">
                        <div class="col-12 col-sm-12 col-md-12 col-xl-12 pl-4 pr-4">
                            <div class="text-center col-12 mb-4">
                                <div class="h2-responsive">Purchase Requisition</div>
                            </div>
                            <div class="row mb-3">
                                <div class="row col-md-4 ml-2">
                                    <div class="font-weight-bold">
                                        FAP Group<br />
                                        @Model.CompanyName
                                    </div>
                                </div>
                                <div class="row col-md-4"></div>
                                <div class="row col-md-4">
                                    <label class="col-md-4 col-6">Departement</label>
                                    <div class="col-md-8 col-6">: @Model.DepartementName</div>
                                    <label class="col-md-4 col-6">Number</label>
                                    <div class="col-md-8 col-6">: @Model.PRNumber</div>
                                    <label class="col-md-4 col-6">Date</label>
                                    <div class="col-md-8 col-6">: @Model.CreatedDate.ToString("dd-MM-yyyy")</div>
                                </div>
                            </div>

                            <h4 class="mt-3">Item/Service</h4>

                            <table id="table-detail-request-pr" class="table table-hover table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th>Item/Service Name</th>
                                        <th>Specification</th>
                                        <th>Purpose Description</th>
                                        <th>Quantity</th>
                                        @*<th>Currency</th>*@
                                        <th>Unit Price</th>
                                        <th>Total Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-company-code="@Model.CompanyCode" data-location-code="@Model.CompanyLocationCode" data-bims-code="@Model.BimsCode">
                                        <td id="ItemName">
                                            @Model.ItemName
                                        </td>
                                        <td id="Specification">
                                            <span>@Model.Specification </span>
                                        </td>
                                        <td id="PurposeDesc">
                                            <span>@Model.PurposeDesc </span>
                                        </td>
                                        <td id="col-qty" data-column="@Model.Qty" align="right">
                                            @Model.Qty
                                        </td>
                                        @*<td id="Currency">
                                            @Model.Currency
                                        </td>*@
                                        <td id="UnitPrice" align="right">
                                            @Model.UnitPriceString
                                        </td>
                                        <td id="col-totalPrice" data-column="@Model.TotalPrice" align="right">
                                            @Model.TotalPriceString
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card-box shadow-sm" id="pr_wrap_budget" hidden>

                </div>

                <div class="card-box shadow-sm" id="pr_wrap_approval">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-xl-12 pl-4 pr-4">

                            <h4>Approval</h4>

                            <div class="row row-eq-card">
                                <div class="col-12 col-md-6 d-flex ">
                                    <div class="card-box border row-eq-full">
                                        <p class="text-muted font-13">Requested by</p>
                                        <p class="mb-0">
                                            <img src="~/images/avatar-2.jpg" alt="task-user" class="thumb-sm rounded-circle mr-2">
                                            <span class="font-bold font-secondary">@workflowHistoryApproval.RequestorActionName</span>
                                            <span class="pull-right mt-2 dtl-budget-requestor-time text-muted">
                                                <i class="fas fa-clock"></i> @workflowHistoryApproval.CreatedDate.ToString("dddd, dd MMMM yyyy hh:mm tt")
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 d-flex ">
                                    <div class="card-box border row-eq-full">
                                        <p class="text-muted font-13">Approved by</p>
                                        <div>
                                            @foreach (var history in workflowHistoryApproval.UserApproval)
                                            {
                                                <p class="text-muted font-13">Approval @approvalLevel</p>
                                                <p>
                                                    <img src="~/images/avatar-2.jpg" alt="task-user" class="thumb-sm rounded-circle mr-2">
                                                    <span class="font-bold font-secondary">@history.UserActionName</span>
                                                    @if (history.Activity != null)
                                                    {
                                                        @if (history.Activity.Activity == FirstResource.System.Library.Extensions.EnumExtensions.GetDescription(FirstResource.System.Library.EnumMaster.ActivityStatus.WAITING_APPROVAL).Result)
                                                        {
                                                            <span class="badge badge-info pull-right mt-2">@history.Activity.Activity</span>
                                                        }
                                                        else if (history.Activity.Activity == FirstResource.System.Library.Extensions.EnumExtensions.GetDescription(FirstResource.System.Library.EnumMaster.ActivityStatus.APPROVED).Result)
                                                        {
                                                            <span class="badge badge-success pull-right mt-2">@history.Activity.Activity</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge badge-danger pull-right mt-2">@history.Activity.Activity</span>
                                                        }
                                                    }
                                                </p>
                                                @if (history.Activity != null)
                                                {
                                                    @if (!string.IsNullOrEmpty(history.Activity.Noted))
                                                    {
                                                        <p style="border-left:1px dotted #ccc;padding:0 22px;margin:10px 16px;font-size:13px;line-height:1.4">
                                                            <span style="font-weight:bold;display:block;padding-bottom:5px;font-size:14px;line-height:1;padding-left:9px">Commend</span>
                                                            <i style="padding-left:9px">"@history.Activity.Noted"</i>
                                                            @if (history.Activity.Activity == FirstResource.System.Library.Extensions.EnumExtensions.GetDescription(FirstResource.System.Library.EnumMaster.ActivityStatus.APPROVED).Result)
                                                            {
                                                                <span class="pull-right dtl-budget-approval-time text-muted">
                                                                    <i class="fas fa-clock"></i> @history.Activity.CreatedDate.ToString("dddd, dd MMMM yyyy hh:mm tt")
                                                                </span>
                                                            }
                                                            else if (history.Activity.Activity == FirstResource.System.Library.Extensions.EnumExtensions.GetDescription(FirstResource.System.Library.EnumMaster.ActivityStatus.REJECTED).Result)
                                                            {
                                                                <span class="pull-right dtl-budget-approval-time text-muted">
                                                                    <i class="fas fa-clock"></i> @history.Activity.CreatedDate.ToString("dddd, dd MMMM yyyy hh:mm tt")
                                                                </span>
                                                            }
                                                        </p>
                                                    }
                                                    else
                                                    {
                                                        <p style="border-left:1px dotted #ccc;padding:0 22px;margin:10px 16px;font-size:13px;line-height:1.4">
                                                            <span style="font-weight:bold;display:block;padding-bottom:5px;font-size:14px;line-height:1;padding-left:9px">Commend</span>
                                                            <i style="padding-left:9px">"No available."</i>
                                                            @if (history.Activity.Activity == FirstResource.System.Library.Extensions.EnumExtensions.GetDescription(FirstResource.System.Library.EnumMaster.ActivityStatus.APPROVED).Result)
                                                            {
                                                                <span class="pull-right dtl-budget-approval-time text-muted">
                                                                    <i class="fas fa-clock"></i> @history.Activity.CreatedDate.ToString("dddd, dd MMMM yyyy hh:mm tt")
                                                                </span>
                                                            }
                                                            else if (history.Activity.Activity == FirstResource.System.Library.Extensions.EnumExtensions.GetDescription(FirstResource.System.Library.EnumMaster.ActivityStatus.REJECTED).Result)
                                                            {
                                                                <span class="pull-right dtl-budget-approval-time text-muted">
                                                                    <i class="fas fa-clock"></i> @history.Activity.CreatedDate.ToString("dddd, dd MMMM yyyy hh:mm tt")
                                                                </span>
                                                            }
                                                        </p>
                                                    }
                                                }
                                                else
                                                {
                                                    <p style="border-left:1px dotted #ccc;padding:0 22px;margin:10px 16px;font-size:13px;line-height:1.4">
                                                        <span style="font-weight:bold;display:block;padding-bottom:5px;font-size:14px;line-height:1;padding-left:9px">Commend</span>
                                                        <i style="padding-left:9px">"No available."</i>
                                                    </p>
                                                }

                                                approvalLevel++;
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hidden-print form-group account-btn text-center mt-3 mb-0">
            <div class="col-12">
                <div class="text-muted" id="notification-disable" hidden>Blast is disabled. The items in this PR are the same, wait for the items in the main PR to finish getting vendors</div>
                <div class="button-list">
                    <button class="btn w-lg btn-outline-custom waves-effect waves-light" aria-hidden="true" onclick=" window.open('/PurchaseRequisition/RFQ','_self')"><i class="fa fa-reply mr-2"></i> Back</button>
                    <button class="btn w-lg btn-custom waves-effect waves-light" id="pr_btn_blast_to_vendor" type="button"><span>Blast to Vendor</span> <i class="fa fa-send ml-2"></i></button>
                    <a href="javascript:window.print()" class="btn btn-custom waves-effect waves-light"><i class="fa fa-print mr-2"></i> Print</a>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div> <!-- container -->
</div> <!-- content -->

<!-- Blast to vendor modal content -->
<div id="blastVendorModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <div class="modal-body">
                <h4 class="text-center m-b-10">
                    <span>Select Category Vendor</span>
                </h4>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box">
                            <form>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="select-outline">
                                            @*<select class="mdb-select md-form md-outline select-company" asp-for="CompanyCode" asp-items="Model.CompanyOptions" required></select>*@
                                            <label class="title-form">Vendor Category <span class="text-danger">*</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group account-btn text-center mt-3 mb-0">
                                    <div class="col-12">
                                        <div class="button-list">
                                            <button class="btn w-lg btn-custom waves-effect waves-light" type="submit" onclick="window.open('employee-pr-ongoing-detail-rfq.html')"> <span>Blast <i class="fa fa-paper-plane ml-2"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts {
    <script src="~/webportal/procurement/rfq-detail.js?@num" type="text/javascript"></script>
}