﻿@{ 
     Layout = "~/Views/Shared/_LayoutFormAccount.cshtml";
    ViewData["Title"] = "Error";
}

<div class="wrapper-page account-page-full">
    <div class="card shadow-lg">
        <div class="card-block">
            <div class="account-box">
                <div class="card-box p-5">
                    <h2 class="text-uppercase text-center pb-4">
                        <a href="#" class="text-success">
                            <span><img src="~/lib/fap-van/assets/images/logo.png" alt="" height="75"></span>
                        </a>
                    </h2>

                    <div class="text-center m-b-20">
                        <h1 class="text-error">404</h1>
                        <h4 class="text-uppercase text-danger mt-3">Page Not Found</h4>
                        <a class="btn btn-md btn-block btn-custom waves-effect waves-light mt-3" href="@Url.Action("Index", "Home")"> Return Home</a>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="m-t-40 text-center">
        <p class="account-copyright">2019 © FAP Group. | <a href="#" data-toggle="modal" data-target="#helpModal" class="text-dark m-l-5"><b>Help</b></a></p>
    </div>
</div>

