﻿@{
    ViewData["Title"] = "Login Page";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Procurement</title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/lib/fap-van/assets/images/e-pis_ico.png">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link href="~/lib/mdb/css/mdb.min.css" rel="stylesheet" />
    <link href="~/lib/mdb/css/landing-vendor.css" rel="stylesheet">
    <link href="~/lib/fap-van/assets/css/icons.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet"/>
</head>
<body>
    <!--Main Navigation-->
    <header>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="~/lib/fap-van/assets/images/e-pis.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                    <ul class="navbar-nav mr-auto">

                    </ul>
                    <ul class="navbar-nav">

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!--Main Navigation-->
    
    <!--Main Layout-->
    <main>
        <div class="container-fluid mb-5">
            <!--Grid row-->
            <div class="row d-flex justify-content-center mtop">
                <!-- Material form -->
                <div class="card col-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 p-0">
                    <ul class="nav nav-tabs nav-justified md-tabs custom-color-dark" id="myTabJust" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab-just" data-toggle="tab" href="#home-just" role="tab"
                                aria-controls="home-just" aria-selected="true"><i class="fa fa-shopping-cart pr-2">
                                </i>e-Procurement</a>
                        </li>
                    </ul>

                    <div class="tab-content pt-4" id="myTabContentJust">
                        <div class="tab-pane fade show active" id="home-just" role="tabpanel"
                            aria-labelledby="home-tab-just">
                            <div class="text-center mt-2">
                                <h4 class="font-weight-normal text-center text-dark">Login</h4>
                            </div>
                            <input type="hidden" id="_KEY_LP" value="EMP" />
                            <form role="form" class="form-login" novalidate>
                                <div class="modal-body mb-1">
                                    <div class="md-form md-outline md-form-custom">
                                        <input type="text" name="loginUserId" id="loginUserId"
                                            class="form-control input-custom">
                                        <label id="lblLoginUserId" for="loginUserId">Username</label>
                                    </div>

                                    <div class="md-form md-outline md-form-custom">
                                        <input type="password" name="loginPassword" id="loginPassword"
                                            class="form-control input-custom">
                                        <label id="lblLoginPassword" for="loginPassword">Password</label>
                                    </div>

                                    <div class="d-flex justify-content-around mt-0">
                                        <div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input font-smaller"
                                                    id="defaultLoginFormRemember">
                                                <label class="custom-control-label grey-text font-small"
                                                    for="defaultLoginFormRemember">Remember me</label>
                                            </div>
                                        </div>
                                        <div>
                                            <a href="" class="grey-text font-small">Forgot password?</a>
                                        </div>
                                    </div>

                                    <div class="text-center mt-3">
                                        <button type="button" class="btn btn-custom btn-rounded z-depth-1a btn-submit">Sign
                                            in</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Material form -->
            </div>
        </div>
    </main>
    <!--Main Layout-->

    <!--Footer-->
    <footer class="page-footer grey lighten-3 text-center text-md-left">
        <!--Copyright-->
        <div class="footer-copyright py-3 text-center">
            <div class="container-fluid">
                ©Copyright: <a href="">First Resources Group - 2021</a>
            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->
    <script type="text/javascript" src="~/js/aes.js"></script>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <!-- MDB -->
    <!-- Bootstrap tooltips -->
    <script src="~/lib/mdb/js/popper.min.js" type="text/javascript"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/lib/mdb/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script src="~/lib/mdb/js/mdb.js" type="text/javascript"></script>
    <script src="~/webportal/webportal.bundle.js" type="text/javascript"></script>
    <script src="~/webportal/account/login.js" type="text/javascript"></script>
    <script>
        new WOW().init();
    </script>
</body>
</html>
