﻿@{
    var action = ViewContext.RouteData.Values["Action"];
}

<div class="button-list md-form">
    <a type="button" class="btn btn-outline-custom waves-light waves-effect" href="@Url.Action("Pending", "Approval", new { area = "Workflow" })" id="btn-emp-approval-pending"><i class="fa fa-hourglass-o mr-2"></i>Pending</a>
    <a type="button" class="btn btn-outline-custom waves-light waves-effect" href="@Url.Action("Approved", "Approval", new { area = "Workflow" })" id="btn-emp-approval-approved"><i class="fa fa-hourglass-o mr-2"></i>Approved</a>
    <a type="button" class="btn btn-outline-custom waves-light waves-effect" href="@Url.Action("Rejected", "Approval", new { area = "Workflow" })" id="btn-emp-approval-rejected"><i class="fa fa-times mr-2"></i>Rejected</a>
</div>
<script>
    (function () {
        switch ('@action'.toLowerCase()) {
            case 'pending':
                document.getElementById('btn-emp-approval-pending').classList.replace('btn-outline-custom', 'btn-custom');
                break;
            case 'approved':
                document.getElementById('btn-emp-approval-approved').classList.replace('btn-outline-custom', 'btn-custom');
                break;
            case 'rejected':
                document.getElementById('btn-emp-approval-rejected').classList.replace('btn-outline-custom', 'btn-custom');
                break;
            default:
                break;
        }
    })();
</script>

