﻿@model List<EmployeePortal.Areas.Workflow.Models.WorkflowRequestModel>

@{
    var num = DateTime.Now.Ticks;
}

@foreach (var request in Model)
{
    <li>
        <a href="#" data-toggle="modal" data-workflow="@request.WorkflowId">
            <div class="bullet">
                <svg aria-hidden="true" viewBox="0 0 32 32" focusable="false"><circle stroke="none" cx="16" cy="16" r="10"></circle></svg>
            </div>
            <div class="row">
                <div class="col-7 p-0">
                    @if (request.WorkflowType == FirstResource.System.Library.EnumMaster.WorkflowType.PTA.ToString())
                    {
                        <span class="badge badge-danger">@request.WorkflowType</span>
                    }
                    else
                    {
                        <span class="badge badge-custom">@request.WorkflowType</span>
                    }

                    <h4 class="mt-2 mb-1">@request.WorkflowTitle</h4>
                    @if (@request.WorkflowType == "PR")
                    {
                        <h6 class="text-muted m-0">@request.PRNumber</h6>
                    }
                    <label class="text-muted">@request.RequestedDate.ToString("dd/MM/yyyy")</label>
                </div>
                <div class="col-5 text-right p-0">
                    @if (@request.WorkflowType == FirstResource.System.Library.EnumMaster.WorkflowType.PR.ToString() || @request.WorkflowType == FirstResource.System.Library.EnumMaster.WorkflowType.PTA.ToString())
                    {
                        <h3 class="font-light h3-responsive text-custom m-0 p-0">Rp @string.Format("{0:N2}", request.GrandTotalAfterTax)</h3>

                        @if (request.Status == FirstResource.System.Library.Extensions.EnumExtensions.GetDescription(FirstResource.System.Library.EnumMaster.PurchaseRequisitionStatus.WAITING_APPROVAL).Result)
                        {
                            <span class="badge badge-pill badge-info">@request.Status</span>
                        }
                        else if (request.Status == FirstResource.System.Library.Extensions.EnumExtensions.GetDescription(FirstResource.System.Library.EnumMaster.PurchaseRequisitionStatus.COMPLETED).Result)
                        {
                            <span class="badge badge-pill badge-success">@request.Status</span>
                        }
                        else
                        {
                            <span class="badge badge-pill badge-danger">@request.Status</span>
                        }
                    }
                </div>
            </div>
        </a>
    </li>
}

<script src="~/webportal/approval/approval-detail.js?@num" type="text/javascript"></script>