﻿@model EmployeePortal.Areas.Workflow.Models.WorkflowContextModel

@{
    var workflowHistoryApproval = ViewBag.WorkflowHistoryApproval as EmployeePortal.Areas.Workflow.Models.WorkflowHistoryApprovalModel;
    int approvalLevel = 1;
    int masterDataUserId = 0;
    Int32.TryParse(ViewBag.MasterDataUserId, out masterDataUserId);
    var num = DateTime.Now.Ticks;
    int tableNo = 1;
}

<h4 class="text-center m-b-10">
    <span>Detail Approval</span>
</h4>

<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <form>
                <div class="row">
                    <input type="hidden" id="wrap-workflow-value" data-workflow="@Model.WorkflowId" />
                    <div class="col-6">
                        <h4>@Model.WorkflowPurchaseRequsitionContext.PRNumber</h4>
                        @*<p class="text-muted m-0 p-0">@Model.WorkflowPurchaseRequsitionContext.RequestedDate</p>*@
                    </div>
                    <div class="col-6 text-right">
                        <p class="text-muted font-13 mb-0">Departement Procurement</p>
                        <h3 class="font-light h3-responsive text-custom m-0 p-0">Rp @string.Format("{0:N2}", Model.WorkflowPurchaseRequsitionContext.GrandTotal)</h3>
                        @if (Model.WorkflowPurchaseRequsitionContext.Status == "WAITING APPROVAL")
                        {
                            <span class="badge badge-pill badge-info">@Model.WorkflowPurchaseRequsitionContext.Status</span>
                        }
                        else if (Model.WorkflowPurchaseRequsitionContext.Status == "COMPLETED")
                        {
                            <span class="badge badge-pill badge-success">@Model.WorkflowPurchaseRequsitionContext.Status</span>
                        }
                        else
                        {
                            <span class="badge badge-pill badge-danger">@Model.WorkflowPurchaseRequsitionContext.Status</span>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pt-3 mb-3">
                        @foreach (var vendor in Model.NewFormatPRItem)
                        {
                            @if (vendor.VendorName == null)
                            {
                                <p class="mb-2 mt-3"><span class="font-weight-bold font-secondary"></span></p>
                            }
                            else
                            {
                                <p class="mb-2 mt-3"><img src="/images/avatar-2.jpg" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-weight-bold font-secondary">@vendor.VendorName</span></p>
                            }

                            <div class="table-hover table-responsive table">
                                <table class="table" id="tbl-detail-budget">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Item/Service Name</th>
                                            <th>Quantity</th>
                                            <th>Currency</th>
                                            <th style="text-align: right">Unit Price</th>
                                            <th class="text-right">Total Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in vendor.Items)
                                        {
                                            <tr data-company-code="@Model.WorkflowPurchaseRequsitionContext.CompanyCode" data-location-code="@Model.WorkflowPurchaseRequsitionContext.LocationCode" data-year="@Model.WorkflowPurchaseRequsitionContext.Year" data-item-code="@item.BimsCode" data-grand-total-ppn="@Model.WorkflowPurchaseRequsitionContext.GrandTotal">
                                                <td scope="row">@tableNo</td>
                                                <td>@item.ItemName</td>
                                                <td id="col-qty" data-column="@item.Quantity">@string.Format("{0:N2}", item.Quantity)</td>
                                                <td>@item.Currency</td>
                                                <td style="text-align: right">@string.Format("{0:N2}", item.UnitPrice)</td>
                                                <td id="col-totalPrice" class=" text-right" data-column="@item.TotalPrice">@string.Format("{0:N2}", item.TotalPrice)</td>
                                            </tr>

                                            tableNo++;
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th id="total" colspan="5" style="text-align:right; font-weight:bold" rowspan="1">Total :</th>
                                            <td rowspan="1" colspan="1" style="text-align:right">@string.Format("{0:N2}", vendor.TotalPrice)</td>
                                        </tr>
                                        <tr>
                                            <th id="total" colspan="5" style="text-align:right; font-weight:bold" rowspan="1">PPN @vendor.PPN% :</th>
                                            <td rowspan="1" colspan="1" style="text-align:right">@string.Format("{0:N2}", @vendor.PPNPrice)</td>
                                        </tr>
                                        <tr>
                                            <th id="total" colspan="5" style="text-align:right; font-weight:bold" rowspan="1">Grand Total After Tax :</th>
                                            <td rowspan="1" colspan="1" style="text-align:right; font-weight:bold">@string.Format("{0:N2}", vendor.GrandTotalAfterTax)</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        }

                    </div>
                </div>
                <div id="wrap-budget-item">
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="font-13">Requested by</p>
                        <p class="mb-0">
                            <img src="~/images/avatar-2.jpg" alt="task-user" class="thumb-sm rounded-circle mr-2">
                            <span class="font-bold font-secondary">@workflowHistoryApproval.RequestorActionName</span>
                            <span class="pull-right mt-2 dtl-budget-requestor-time text-muted">
                                <i class="fas fa-clock"></i> @workflowHistoryApproval.CreatedDate.ToString("dddd, dd MMMM yyyy hh:mm tt")
                            </span>
                        </p>
                    </div>
                </div>
                @foreach (var history in workflowHistoryApproval.UserApproval)
                {
                    <div class="row">
                        <div class="col-12 pt-3">
                            <p class="text-muted font-13">Approval @approvalLevel</p>
                            <p>
                                <img src="~/images/avatar-2.jpg" alt="task-user" class="thumb-sm rounded-circle mr-2">
                                <span class="font-bold font-secondary">@history.UserActionName</span>
                                @if (history.Activity != null)
                                {
                                    @if (history.Activity.Activity == FirstResource.System.Library.Extensions.EnumExtensions.GetDescription(FirstResource.System.Library.EnumMaster.ActivityStatus.WAITING_APPROVAL).Result)
                                    {
                                        <span class="badge badge-info pull-right mt-2">@history.Activity.Activity</span>
                                    }
                                    else if (history.Activity.Activity == FirstResource.System.Library.Extensions.EnumExtensions.GetDescription(FirstResource.System.Library.EnumMaster.ActivityStatus.APPROVED).Result)
                                    {
                                        <span class="badge badge-success pull-right mt-2">@history.Activity.Activity</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger pull-right mt-2">@history.Activity.Activity</span>
                                    }
                                }
                            </p>
                            @if (history.Activity != null)
                            {
                                @if (!string.IsNullOrEmpty(history.Activity.Noted))
                                {
                                    <p style="border-left:1px dotted #ccc;padding:0 22px;margin:10px 16px;font-size:13px;line-height:1.4">
                                        <span style="font-weight:bold;display:block;padding-bottom:5px;font-size:14px;line-height:1;padding-left:9px">Commend</span>
                                        <i style="padding-left:9px">"@history.Activity.Noted"</i>
                                        @if (history.Activity.Activity == FirstResource.System.Library.Extensions.EnumExtensions.GetDescription(FirstResource.System.Library.EnumMaster.ActivityStatus.APPROVED).Result)
                                        {
                                            <span class="pull-right dtl-budget-approval-time text-muted">
                                                <i class="fas fa-clock"></i> @history.Activity.CreatedDate.ToString("dddd, dd MMMM yyyy hh:mm tt")
                                            </span>
                                        }
                                        else if (history.Activity.Activity == FirstResource.System.Library.Extensions.EnumExtensions.GetDescription(FirstResource.System.Library.EnumMaster.ActivityStatus.REJECTED).Result)
                                        {
                                            <span class="pull-right dtl-budget-approval-time text-muted">
                                                <i class="fas fa-clock"></i> @history.Activity.CreatedDate.ToString("dddd, dd MMMM yyyy hh:mm tt")
                                            </span>
                                        }
                                    </p>
                                }
                                else
                                {
                                    <p style="border-left:1px dotted #ccc;padding:0 22px;margin:10px 16px;font-size:13px;line-height:1.4">
                                        <span style="font-weight:bold;display:block;padding-bottom:5px;font-size:14px;line-height:1;padding-left:9px">Commend</span>
                                        <i style="padding-left:9px">"No available."</i>
                                        @if (history.Activity.Activity == FirstResource.System.Library.Extensions.EnumExtensions.GetDescription(FirstResource.System.Library.EnumMaster.ActivityStatus.APPROVED).Result)
                                        {
                                            <span class="pull-right dtl-budget-approval-time text-muted">
                                                <i class="fas fa-clock"></i> @history.Activity.CreatedDate.ToString("dddd, dd MMMM yyyy hh:mm tt")
                                            </span>
                                        }
                                        else if (history.Activity.Activity == FirstResource.System.Library.Extensions.EnumExtensions.GetDescription(FirstResource.System.Library.EnumMaster.ActivityStatus.REJECTED).Result)
                                        {
                                            <span class="pull-right dtl-budget-approval-time text-muted">
                                                <i class="fas fa-clock"></i> @history.Activity.CreatedDate.ToString("dddd, dd MMMM yyyy hh:mm tt")
                                            </span>
                                        }
                                    </p>
                                }
                            }
                            else
                            {
                                <p style="border-left:1px dotted #ccc;padding:0 22px;margin:10px 16px;font-size:13px;line-height:1.4">
                                    <span style="font-weight:bold;display:block;padding-bottom:5px;font-size:14px;line-height:1;padding-left:9px">Commend</span>
                                    <i style="padding-left:9px">"No available."</i>
                                </p>
                            }
                        </div>
                    </div>

                    approvalLevel++;
                }

                @if (masterDataUserId != workflowHistoryApproval.RequestorActionId) // is not requestor
                {
                    @if (ViewBag.IsWaitingApproval != null) // is approval with waiting approval status
                    {
                        <div class="row">
                            <div class="col-12">
                                <div class="md-form md-outline">
                                    <textarea id="wf-noted" class="md-textarea form-control" rows="3"></textarea>
                                    <label for="pta_approval_notes" class="">Notes</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group account-btn text-center mt-3 mb-0">
                            <div class="col-12">
                                <div class="button-list">
                                    <button class="btn w-lg btn-success waves-effect waves-light" type="button" id="btn-action-approved"><i class="fa fa-check mr-2"></i> Approved</button>
                                    <button class="btn w-lg btn-danger waves-effect waves-light" type="button" id="btn-action-rejected"><i class="fa fa-times mr-2"></i> Rejected</button>
                                </div>
                            </div>
                        </div>
                    }
                }
            </form>
        </div>
    </div>
</div>

<script src="~/webportal/approval/approval-action.js?@num" type="text/javascript"></script>
