﻿@model EmployeePortal.Areas.Procurement.Models.Budget.BudgetModel

@{ 
    string bgCustomClass = Model.BudgetStatus == "PTA" ? "bg-custom" : "";
    string txtCustomClass = Model.BudgetStatus == "PTA" ? "text-white" : "";
}

@if (Model != null)
{
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h5>Budget Quantity</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12">
            <div class="card-box border @bgCustomClass">
                <div class="row">
                    <div class="col-8">
                        <label class="@txtCustomClass">Total Quantity</label>
                    </div>
                    <div class="col-4 text-right">
                        <label class="font-weight-normal @txtCustomClass">@string.Format("{0:N2}", Model.QtyBudget)</label>
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-8">
                        <label class="@txtCustomClass">Total Realization Quantity</label>
                    </div>
                    <div class="col-4 text-right ">
                        <label class="font-weight-normal @txtCustomClass">@string.Format("{0:N2}", Model.QtyRealization)</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-8">
                        <label class="font-weight-bold @txtCustomClass">Remaining Quantity</label>
                    </div>
                    <div class="col-4 text-right">
                        <label class="font-weight-bold @txtCustomClass">@string.Format("{0:N2}", Model.QtyRemaining)</label>
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-8">
                        <label class="@txtCustomClass @txtCustomClass">Requested Quantity</label>
                    </div>
                    <div class="col-4 text-right">
                        <label class="font-weight-normal @txtCustomClass">@string.Format("{0:N2}", Model.QtyRequest)</label>
                    </div>
                </div>
                @if (Model.BudgetStatus == FirstResource.System.Library.Extensions.EnumExtensions.GetDescription(FirstResource.System.Library.EnumMaster.PurchaseRequisitionStatus.ONBUDGET).Result)
                {
                    <div class="row mt-2">
                        <div class="col-8">
                            <label class="font-weight-bold @txtCustomClass">Total Remaining Price</label>
                        </div>
                        <div class="col-4 text-right">
                            <label class="font-weight-bold @txtCustomClass">@string.Format("{0:N2}", Model.QtyRemainingTotal)‬</label>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row mt-2">
                        <div class="col-8">
                            <label class="font-weight-bold @txtCustomClass">Need Quantity</label>
                        </div>
                        <div class="col-4 text-right">
                            <label class="font-weight-bold @txtCustomClass">@string.Format("{0:N2}", Model.QtyRemainingTotal)</label>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-12 col-md-12">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h5>Budget Price</h5>
                </div>
                <div class="col-12 col-md-6">
                    <h5 class="pull-right">Currency : IDR</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12">
            <div class="card-box border @bgCustomClass">
                <div class="row">
                    <div class="col-8">
                        <label class="@txtCustomClass">Total Price</label>
                    </div>
                    <div class="col-4 text-right">
                        <label class="font-weight-normal @txtCustomClass">@string.Format("{0:N2}", Model.TotalBudget)</label>
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-8">
                        <label class="@txtCustomClass">Total Realization Price</label>
                    </div>
                    <div class="col-4 text-right ">
                        <label class="font-weight-normal @txtCustomClass">@string.Format("{0:N2}", Model.TotalBudgetRealization)</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-8">
                        <label class="font-weight-bold @txtCustomClass">Remaining Price</label>
                    </div>
                    <div class="col-4 text-right">
                        <label class="font-weight-bold @txtCustomClass">@string.Format("{0:N2}", Model.BudgetRemaining)</label>
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-8">
                        <label class="@txtCustomClass">Requested Price</label>
                    </div>
                    <div class="col-4 text-right">
                        <label class="font-weight-normal @txtCustomClass">@string.Format("{0:N2}", Model.BudgetRequest)</label>
                    </div>
                </div>
                @if (Model.BudgetStatus == FirstResource.System.Library.Extensions.EnumExtensions.GetDescription(FirstResource.System.Library.EnumMaster.PurchaseRequisitionStatus.ONBUDGET).Result)
                {
                    <div class="row mt-2">
                        <div class="col-8">
                            <label class="font-weight-bold @txtCustomClass">Total Remaining Price</label>
                        </div>
                        <div class="col-4 text-right">
                            <label class="font-weight-bold @txtCustomClass">@string.Format("{0:N2}", Model.BudgetRemainingTotal)‬</label>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row mt-2">
                        <div class="col-8">
                            <label class="font-weight-bold @txtCustomClass">Need Budget</label>
                        </div>
                        <div class="col-4 text-right">
                            <label class="font-weight-bold @txtCustomClass">@string.Format("{0:N2}", Model.BudgetRemainingTotal)</label>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card-box border">
                <div class="row">
                    <div class="col-8">
                        <label class="@txtCustomClass">Total Quantity</label>
                    </div>
                    <div class="col-4 text-right">
                        <label class="font-weight-normal @txtCustomClass">-</label>
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-8">
                        <label class="@txtCustomClass">Total Realization Quantity</label>
                    </div>
                    <div class="col-4 text-right ">
                        <label class="font-weight-normal @txtCustomClass">-</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-8">
                        <label class="font-weight-bold @txtCustomClass">Remaining Quantity</label>
                    </div>
                    <div class="col-4 text-right">
                        <label class="font-weight-bold @txtCustomClass">-</label>
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-8">
                        <label class="@txtCustomClass">Requested Quantity</label>
                    </div>
                    <div class="col-4 text-right">
                        <label class="font-weight-normal @txtCustomClass">-</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-8">
                        <label class="font-weight-bold @txtCustomClass">Remaining Quantity</label>
                    </div>
                    <div class="col-4 text-right">
                        <label class="font-weight-bold @txtCustomClass">-</label>
                    </div>
                </div>
            </div>
            <div class="card-box border">
                <div class="row">
                    <div class="col-8">
                        <label class="@txtCustomClass">Total Price</label>
                    </div>
                    <div class="col-4 text-right">
                        <label class="font-weight-normal @txtCustomClass">-</label>
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-8">
                        <label class="@txtCustomClass">Total Realization Price</label>
                    </div>
                    <div class="col-4 text-right">
                        <label class="font-weight-normal @txtCustomClass">-</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-8">
                        <label class="font-weight-bold @txtCustomClass">Remaining Price</label>
                    </div>
                    <div class="col-4 text-right">
                        <label class="font-weight-bold @txtCustomClass">-</label>
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-8">
                        <label class="@txtCustomClass">Requested Price</label>
                    </div>
                    <div class="col-4 text-right">
                        <label class="font-weight-normal @txtCustomClass">-</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-8">
                        <label class="font-weight-bold @txtCustomClass">Remaining Price</label>
                    </div>
                    <div class="col-4 text-right">
                        <label class="font-weight-bold @txtCustomClass">-</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


