﻿
@{
    ViewData["Title"] = "Rejected";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var num = DateTime.Now.Ticks;
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div>
                    <h4 class="page-title-dashboard">Rejected</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item">Approval</li>
                        <li class="breadcrumb-item active">Rejected</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-8">
                        @await Html.PartialAsync("~/Areas/Workflow/Views/Approval/Partial/_TabMenu.cshtml")
                    </div>
                    <div class="col-12 col-md-2 float-lg-right">
                        <select id="demo-foo-filter-status" class="mdb-select md-form md-outline">
                            <option value="">Show All</option>
                            <option value="medical_claim">Medical Claim</option>
                            <option value="attendance">Attendance</option>
                            <option value="pr">PR</option>
                            <option value="pta">PTA</option>
                        </select>
                        <label class="mdb-main-label">Filter</label>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="md-form md-outline">
                            <input id="demo-foo-search" type="text" id="search_table" class="form-control" autocomplete="on">
                            <label for="search_table">Search</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card-box mb-0 shadow-sm">
                            <div id="totalPage_temp" data-value="@ViewBag.TotalPage" hidden></div>
                            <ul class="appr" id="list_item_rejected"></ul>
                        </div>
                    </div><!-- end col-->
                </div>
                <!-- end row -->
                <nav class="float-right mt-3">
                    <ul id="pagination-rejected" class="pagination-sm"></ul>
                </nav>
            </div>
        </div>
        <!-- end row -->
    </div> <!-- container -->
</div> <!-- content -->
<!-- PR Approval modal content -->
<div id="ptaApprovalOutModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg modal-xl-custom">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <div class="modal-body">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section Scripts {
    <script src="~/webportal/approval/approval-rejected.js?@num" type="text/javascript"></script>
}