﻿.override-input-err {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") !important;
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.override-input-suc {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") !important;
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem)
}

.errUserId, .errPassword {
    display: block;
    margin-top: -20px;
}

.errRegisterEmail, .errRegisterPassword, .errConfirmPassword, .errMasterDataBankId {
    display: block;
    margin-top: -20px;
}

.bp_slct_err_bank_name, .bp_slct_err_currency, .bp_slct-err-bs-paymnt-top, 
.pr_slct_err_location_name, .pr_inpt_err_currency, .pr_inpt_err_uom {
    display: block;
    margin-top: -25px;
}

.bp_opt-err-bs-paymnt-mtd {
    display: block;
    margin-top: -25px;
    margin-left: 15px;
}

.bp_inpt_err_area, .bp_inpt_err_city, .bp_inpt_err_account_name, .bp_inpt_err_account_number {
    margin-top: -8px;
}

#grid_bs-fld-pymnt-mthd_wrapper {
    margin-top: -10px;
}

.inpt_err_nib, .inpt_err_buss_permit, .inpt_err_siup, .inpt_err_tdp, .inpt_err_memo_of_asso, .inpt_err_decs_ltr_men_kum_ham, .vl_err_signer_name,
#tax_err_inpt_npwp, #tax_err_inpt_pkp {
    margin-top: -4.5px !important;
}

.slct_err_mgm_strc, .vl_err_signer_id, #tax_err_slct_npwp, #tax_err_slct_pkp, #tax_err_slct_bkp, #tax_err_slct_bkp_free_ppn {
    display: block;
    margin-top: -21px;
}

.inpt_err_mgm_strc, #bussEthcs_err, #mstrAgreement_err, #inpt_err_siupExpDate, #inpt_err_tdpExpDate {
    display: block;
    margin-top: -4.5px !important;
}

/* Attachment File */
#inpt_file_nib, #inpt_file_buss_permit, #inpt_file_siup, #inpt_file_tdp, #inpt_file_memo_asso, #inpt_file_dcs_ltr {
    display: block;
    margin-top: -2.5px !important;
    margin-left: 5px;
}

.pr_inpt_err_item_name, .pr_inpt_err_requestedfrom, .pr_inpt_err_specification, .pr_inpt_err_qty, .pr_inpt_err_price, .pr_inpt_err_purpose {
    display: block;
    margin-top: -8px;
}

.md-form-custom .input-custom {
    margin-bottom: 20px;
}

.file-path {
    cursor: pointer
}

.file-path:hover {
    color: #cc1023;
}

#ad_vd_btn_disable {
    color: #ffffff !important
}

.card-custom {
    margin-bottom: 10px;
}

.dtl-budget-requestor-time {
    font-size: 12px
}

.dtl-budget-approval-time {
    font-size: 12px;
    margin-right: -40px;
}

    


