﻿@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string fullName = Context.Session.GetString("_UserName");
    string firstName = fullName.Split(" ")[0];
}

<!-- Start Page content -->
<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div>
                    <h4 class="page-title-dashboard">Welcome @firstName</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row row-eq">
            <div class="col-12">
                <div class="card-box shadow-sm pb-0">
                    <h4 class="header-title mb-4">Information</h4>
                    <div class="row">
                        <div class="col-6 col-md-6 col-xl-3 row-eq-card">
                            <div class="card-box tilebox-one border row-eq-full">
                                <i class="mdi mdi-fingerprint float-right text-custom"></i>
                                <h6 class="text-uppercase mt-0">New Vendor</h6>
                                <h4 class="m-b-20"><span data-plugin="counterup"> 3 <span class="text-muted font-13 font-light">Vendors</span></span></h4>
                                <div class="font-13 btn-link"> <a href="@Url.Action("Index", "Vendor", new { area = "Vendor" })">View </a> <i class="fa fa-long-arrow-right"></i></div>
                            </div>
                        </div>
                         <div class="col-6 col-md-6 col-xl-3 row-eq-card">
                            <div class="card-box tilebox-one border row-eq-full">
                                <i class="mdi mdi-shopping float-right text-custom"></i>
                                <h6 class="text-uppercase mt-0">New Purchase Requisition</h6>
                                <h4 class="m-b-20"><span data-plugin="counterup">2 <span class="text-muted font-13 font-light">request</span></h4>
                                <div class="font-13 btn-link"> <a href="@Url.Action("Status", "PurchaseRequisition", new { area = "Procurement" })">View </a> <i class="fa fa-long-arrow-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card-box shadow-sm pb-0">
                    <h4 class="header-title mb-4">Approval</h4>
                    <div class="row">
                        <div class="col-6 col-md-6 col-xl-3 row-eq-card">
                            <div class="card-box tilebox-one border row-eq-full">
                                <i class="mdi mdi-shopping float-right text-custom"></i>
                                <h6 class="text-uppercase mt-0">Purchase Requisition</h6>
                                <h4 class="m-b-20"><span data-plugin="counterup">2 <span class="text-muted font-13 font-light">request</span></h4>
                                <div class="font-13 btn-link"> <a href="#">View</a> <i class="fa fa-long-arrow-right"></i></div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-xl-3 row-eq-card">
                            <div class="card-box tilebox-one border row-eq-full">
                                <i class="mdi mdi-shopping-music float-right text-custom"></i>
                                <h6 class="text-uppercase mt-0">Purchase Order</h6>
                                <h4 class="m-b-20"><span data-plugin="counterup">2 <span class="text-muted font-13 font-light">request</span></h4>
                                <div class="font-13 btn-link"> <a href="#">View</a> <i class="fa fa-long-arrow-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card-box shadow-sm pb-0">
                    <h4 class="header-title mb-4">Reporting</h4>
                    <div class="row">
                        <div class="col-6 col-md-6 col-xl-3 row-eq-card">
                            <div class="card-box tilebox-one border row-eq-full">
                                <i class="fa fa-calculator float-right text-custom"></i>
                                <h6 class="text-uppercase mt-0">Spend Analysis</h6>
                                <h4 class="m-b-20"><span data-plugin="counterup">1 <span class="text-muted font-13 font-light">report</span></h4>
                                <div class="font-13 btn-link"> <a href="#">View </a> <i class="fa fa-long-arrow-right"></i></div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-xl-3 row-eq-card">
                            <div class="card-box tilebox-one border row-eq-full">
                                <i class="mdi mdi-shopping float-right text-custom"></i>
                                <h6 class="text-uppercase mt-0">PO Outstanding</h6>
                                <h4 class="m-b-20"><span data-plugin="counterup">1 <span class="text-muted font-13 font-light">order</span></h4>
                                <div class="font-13 btn-link"> <a href="#">View </a> <i class="fa fa-long-arrow-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div> <!-- container -->

</div> <!-- content -->
